<div class="grid grid-rows-[1fr_auto] grid-cols-[250px_1fr] h-screen w-screen bg-black text-base-100 font-sans">
  
  <aside class="col-start-1 row-start-1 bg-black p-2">
    <app-sidebar (themeToggled)="toggleTheme()"></app-sidebar>
  </aside>

  <main class="col-start-2 row-start-1 bg-base-500 rounded-lg m-2 overflow-y-auto">
    @if(playerService.isShowingVideo()) {
      <div id="video-container" class="w-full h-full bg-black flex items-center justify-center">
        <!-- The video element will be appended here from the service -->
      </div>
    } @else {
      <app-media-view></app-media-view>
    }
  </main>

  <footer class="col-span-2 row-start-2 bg-base-500">
    <app-player-bar></app-player-bar>
  </footer>

</div>
